.body-list {
    width: 1010px;
    display: flex;
    flex-direction: column;
    margin: 0 169.5px 0 169.5px;
}

.body-list .list-hero .btn-hero {
    margin: 1px;
    float: left;
    width: 200px;
    height: 300px;
}

.list-hero {
    height: 610px;
}

.body-list .title {
    text-align: center;
    color: red;
    padding-bottom: 10px;
}

.body-list .list-page-number .page-number {
    background-color: skyblue;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: red;
    margin: 1.5px 1.5px 1.5px 1.5px;
    border-width: 1px;
}

.body-list .list-page-number {
    width: 100%;
}